{% extends 'shared/base.html' %}
{% block site_title %} Quiz 1 {% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles-question.css' %}">
{% endblock %}

{% block site_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center headline">{{ question.quiz.name }}</h1>

                <div class="progress-section">
                    <p class="text-center">Question {{ question.position }} / {{ question.quiz.question_set.count }}</p>

                    <div class="progress">
                        <div class="progress-bar progress-bar-styled" role="progressbar" style="width:{{ progress }}%"
                             aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="card card-styled">
                  <div class="card-body card-body-styled">
                    {{ question.text }}
                  </div>
                </div>
                {% if answer %}
                     <form action="{% url 'quiz:update answer' answer.id %}" method="POST">
                        {% csrf_token %}
                        <input name="question" type="text" hidden value="{{ question.id }}" />
                        <div class="answers-wrap">
                            <span>disagree</span>
                            {% for radio in form.score %}
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="radio-styled"></label>
                            {% endfor %}
                            <span>agree</span>
                        </div>
                        <div class="answer-buttons">
                            <button type="submit" class="d:block btn btn-styled">Next</button>
                        </div>
                    </form>
                {% else %}
                    <form action="{% url 'quiz:create answer' %}" method="POST">
                        {% csrf_token %}
                        <input name="question" type="text" hidden value="{{ question.id }}" />
                        <div class="answers-wrap">
                            <span>disagree</span>
                            {% for radio in form.score %}
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="radio-styled"></label>
                            {% endfor %}
                            <span>agree</span>
                        </div>
                        <div class="answer-buttons">
                            <button type="submit" class="d:block btn btn-styled">Next</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}