body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #413852;
  background-color: #fafafa;
}

.container {
  padding: 0 1em;
}
@media only screen and (min-width: 600px) {
  .container {
    width: 80%;
    margin: 170px auto 0;
    max-width: 1350px;
    padding: 0;
  }
}

.section-heading {
  color: #413852;
  margin: 2.5em 0 1.5em;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

.header {
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  position: fixed;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.logo {
  width: 125px;
  margin: 0 auto;
  padding: 0.5em 0;
  display: block;
  transition: all 0.3s ease-out;
}
@media only screen and (min-width: 960px) {
  .logo {
    width: 200px;
    margin: 0;
    padding: 1em 0;
  }
}

.footer {
  position: relative;
  margin-top: 4em;
  background: #fff;
  bottom: 0;
}
.footer .top-border {
  width: 100%;
  height: 2px;
  border: none;
  background-image: linear-gradient(to right, #ff4014, #ff40e6, #a740ff, #5642ff, #4ef3f3, #52ff11, #fdfd0f, #ff4014);
}
.footer__content {
  width: 100%;
  margin: 1em;
  padding: 2em;
}
@media only screen and (min-width: 960px) {
  .footer__content {
    width: 80%;
    margin: 0 auto;
  }
}
.footer__content .copy {
  text-align: center;
}

.product {
  display: flex;
  width: 100%;
  margin: 0;
  border: none;
  flex-wrap: nowrap;
  line-height: 1;
  justify-content: space-between;
  flex-direction: column;
}
@media only screen and (min-width: 960px) {
  .product--left {
    flex-direction: row;
  }
}
@media only screen and (min-width: 960px) {
  .product--right {
    flex-direction: row-reverse;
  }
}
.product__image {
  width: 100%;
}
@media only screen and (min-width: 960px) {
  .product__image {
    width: 50%;
  }
}
.product__image img {
  border-radius: 12.5px;
}
.product__content {
  width: 100%;
  padding: 1em;
}
@media only screen and (min-width: 960px) {
  .product__content {
    width: 50%;
    padding: 0 7em;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}
.product__content h2 {
  font-size: 2.5rem;
  margin: 0 0 0.3em 0;
  font-weight: 400;
  color: #292334;
}
.product__content h3 {
  font-size: 1.5rem;
  color: #594d70;
  font-weight: 300;
  margin: 0 0 1em 0;
}
.product__content p {
  line-height: 1.75em;
  margin-bottom: 2em;
}
.product__content .buy-button {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background-color: #5e2ef4;
  padding: 1em 2em;
  font-size: 0.9375rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.product__content .buy-button:hover {
  background-color: #390bcb;
}

.brand__wrapper {
  margin: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (min-width: 600px) {
  .brand__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.brand__box {
  border: 1px solid #ddd;
  max-width: 400px;
  justify-self: center;
}
.brand__box:hover {
  border-color: #b0b0b0;
}
.brand__link {
  display: block;
  position: relative;
}
.brand__link::before {
  top: 0;
  left: 0;
  width: 0;
  margin: auto;
  height: 0;
  content: "";
  position: absolute;
  transition: all 0.3s ease-out 0s;
  background-color: rgba(255, 255, 255, 0.1);
}
.brand__link::after {
  right: 0;
  width: 0;
  bottom: 0;
  margin: auto;
  height: 0;
  content: "";
  position: absolute;
  transition: all 0.3s ease-out 0s;
  background-color: rgba(255, 255, 255, 0.1);
}
.brand__link:hover::before {
  width: 100%;
  height: 100%;
}
.brand__link:hover::after {
  width: 100%;
  height: 100%;
}

.brand-detail__name {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.01562em;
  margin: 0.5em 0 0.25em;
  padding: 0 1rem;
  font-size: 3em;
}
@media only screen and (min-width: 960px) {
  .brand-detail__name {
    padding: 0 2rem;
    font-size: 5em;
  }
}
@media only screen and (min-width: 1280px) {
  .brand-detail__name {
    padding: 0;
  }
}
.brand-detail__description {
  color: #413852;
  margin: 1em 0 0;
  height: 325px;
  padding: 0.5em 1em;
  position: relative;
  overflow: hidden;
  font-size: 1em;
  line-height: 1.9;
  letter-spacing: 0.05px;
  font-weight: 400;
  transition: height 3s ease-in-out;
}
.brand-detail__description::after {
  left: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  content: "";
  z-index: 10;
  position: absolute;
  background: linear-gradient(to top, rgba(248, 248, 248, 0.7) 0%, rgba(248, 248, 248, 0) 40%);
  pointer-events: none;
}
@media only screen and (min-width: 600px) {
  .brand-detail__description {
    height: 350px;
  }
}
@media only screen and (min-width: 960px) {
  .brand-detail__description {
    margin: 1em 0 2em;
    height: auto;
    padding: 0 2em;
  }
  .brand-detail__description::after {
    background: none;
  }
}
@media only screen and (min-width: 1280px) {
  .brand-detail__description {
    padding: 0;
    height: auto;
  }
}

.toggle-button-box {
  text-align: right;
  padding-right: 2em;
}
@media only screen and (min-width: 960px) {
  .toggle-button-box {
    display: none;
  }
}
.toggle-button-box__icon {
  transition: all 0.3s ease-in-out;
  width: 1.75em;
  height: 1.25em;
  font-size: 32px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  text-align: center;
  line-height: 1.2;
}

.open {
  transform: rotate(180deg);
}

.expanded {
  height: auto;
}
.expanded::after {
  background: none;
}

/*# sourceMappingURL=style.css.map */
