.brand {
  &__wrapper {
    margin: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    @media only screen and (min-width: $sm-breakpoint) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__box {
    border: 1px solid #ddd;
    max-width: 400px;
    justify-self: center;

    &:hover {
      border-color: #b0b0b0;
    }
  }

  &__link {
    display: block;
    position: relative;

    &::before {
      top: 0;
      left: 0;
      width: 0;
      margin: auto;
      height: 0;
      content: "";
      position: absolute;
      transition: all 0.3s ease-out 0s;
      background-color: rgba(255,255,255,0.1);
    }

    &::after {
      right: 0;
      width: 0;
      bottom: 0;
      margin: auto;
      height: 0;
      content: "";
      position: absolute;
      transition: all 0.3s ease-out 0s;
      background-color: rgba(255,255,255,0.1);
    }

    &:hover   {
      &::before {
          width  : 100%;
          height : 100%;
      }
      &::after {
          width  : 100%;
          height : 100%;
      }
    }
  }
}

.brand-detail {
  &__name {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.01562em;
    margin: .5em 0 0.25em;
    padding: 0 1rem;
    font-size: 3em;
    @media only screen and (min-width: $md-breakpoint) {
      padding: 0 2rem;
      font-size: 5em;
    }
    @media only screen and (min-width: $lg-breakpoint) {
      padding: 0;
    }
  }
  &__description {
    color: #413852;
    margin: 1em 0 0;
    height: 325px;
    padding: .5em 1em;
    position: relative;
    overflow: hidden;
    font-size: 1em;
    line-height: 1.9;
    letter-spacing: 0.05px;
    font-weight: 400;
    transition: height 3s ease-in-out;

    &::after {
        left: 0;
        width: 100%;
        bottom: 0;
        height: 100%;
        content: "";
        z-index: 10;
        position: absolute;
        background: linear-gradient(to top, rgba(248,248,248, 0.7) 0%, rgba(248,248,248, 0) 40%);
        pointer-events: none;
      }

    @media only screen and (min-width: $sm-breakpoint) {
      height: 350px;
    }
    @media only screen and (min-width: $md-breakpoint) {
      margin: 1em 0 2em;
      height: auto;
      padding: 0 2em;
      &::after {
        background: none;
      }
    }
    @media only screen and (min-width: $lg-breakpoint) {
      padding: 0;
      height: auto;
    }
  }
}

.toggle-button-box {
  text-align: right;
  padding-right: 2em;

  @media only screen and (min-width: $md-breakpoint) {
      display: none;
  }

  &__icon {
    transition: all 0.3s ease-in-out;
    width: 1.75em;
    height: 1.25em;
    font-size: 32px;
    background: rgb(258,258,258,0.9);
    border-radius: 5px;
    text-align: center;
    line-height: 1.2;
  }
}

.open {
  transform: rotate(180deg);
}

.expanded {
  height: auto;
  &::after {
    background: none;
  }
}