body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: $text-color;
  background-color: #fafafa;
}

.container {
  padding: 0 1em;
  @media only screen and (min-width: $sm-breakpoint) {
    width: 80%;
    margin: 170px auto 0;
    max-width: 1350px;
    padding: 0;
  }
}

.section-heading {
  color: $text-color;
  margin: 2.5em 0 1.5em;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}