body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: $text-color;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1350px;
}

.section-heading {
  color: $text-color;
  margin: 2.5em 0 1.5em;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}