{% extends 'shared/base.html' %}

{% block content %}
<div class="row justify-content-center py-5">
    <div class="col-md-5">
        <h2 class="mt-6 mb-4">Edit topic</h2>
                {% if form.errors %}
        <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
        {% endif %}
          <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-secondary mt-2">Edit</button>
        </form>
    </div>
</div>
{% endblock %}
